/* An Art-Deco style font for headings */

@font-face {
    font-family: 'UpperEastSide';
    src: url('Fonts/UpperEastSide-webfont.eot');
    src: url('Fonts/UpperEastSide-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/UpperEastSide-webfont.woff') format('woff'),
         url('Fonts/UpperEastSide-webfont.ttf') format('truetype'),
         url('Fonts/UpperEastSide-webfont.svg#UpperEastSideRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General formatting for the page */



body {
    background-color: #dddddd;
    font-size: 10pt;
    font-family: Verdana, sans-serif;
    text-align: left;
}

/* Common formatting for main block elements */

div, nav, header, footer {
    padding: 10px;
    margin: 5px;
    background-color: #eeeeee;
}

header, nav, footer, #main {
    border: 1px solid black;
    border-radius: 20px 0px 20px 0px;
}

/* Layout of the top-level blocks */

header {
    width: 767px;
    overflow: hidden;
    background-image:url('images/headerBackground.png');
    background-repeat:no-repeat;
}

nav {
    font-size: 12pt;
    width: 135px;
    float: left;
}

#main {
    width: 600px;
    float: left;
}

footer {
    font-size: 8pt;
    text-align: right;
    width: 767px;
    clear: both;
}

/* Headings */

h1 {
    font-family: UpperEastSide, Verdana, sans-serif;
    font-size: 36pt;
    margin: 0px;
    float: left;
}

h2 {
    font-family: UpperEastSide, Verdana, sans-serif;
    font-size: 24pt;
}

h3 {
    font-size: 12pt;
}

/* Navigation links */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-left: 20px;
    text-indent: -20px;
    padding-top: 10px;
}

/* Format for films */

.film {
    clear: both;
}

.film:nth-of-type(odd) img {
    float: left;
}

.film:nth-of-type(even) img {
    float: right;
}

img {
    padding: 10px;
}

/* Front page category list */

#carousel {
    text-align: center;
}

ul.frontpage {
    list-style-type: none;
    padding: 0px;
    margin-left: 0px;
}

ul.frontpage li {
    width: 180px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    float: left;
}

ul.frontpage li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Login/out boxes */

#login {
    float: right;
    font-size: 8pt;
    text-align: right;
    padding: 0;
    margin: 0;
}

#login input {
    width: 100px;
}

#login input[type=submit], #logout input[type=submit] {
    width: 60px;
}

#logout {
    float: right;
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

/* Table for the cart */
.money {
    text-align: right;
}

.money:before {
    content: "$";
}
td{
}
/*th {
    border-bottom: 1px solid black;
}*/
/*
tr:last-of-type  td {
    border-top: 1px solid black;
}*/

/* Checkout form */
#checkoutForm p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#checkoutForm p label {
    display: inline-block;
    width: 100px;
}

#checkoutForm p input {
    width: 150px;
}

#checkoutForm p input.short {
    width: 50px;
}
/* Checkout form */
#registerForm p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#registerForm p label {
    display: inline-block;
    width: 150px;
}

#registerForm p input {
    width: 150px;
}

#registerForm p input.short {
    width: 50px;
}